SubQueries,CTE's,CASES

In [0]:
CREATE TABLE Customer (
    CustomerID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    Email VARCHAR(100),
    City VARCHAR(50)
);

INSERT INTO Customer (CustomerID, FirstName, LastName, Email, City) VALUES
(1, 'John', 'Doe', 'john.doe@example.com', 'New York'),
(2, 'Jane', 'Smith', 'jane.smith@example.com', 'Los Angeles'),
(3, 'Robert', 'Brown', 'robert.brown@example.com', 'New York'),
(4, 'Emily', 'Davis', 'emily.davis@example.com', 'Houston'),
(5, 'Michael', 'Wilson', 'michael.wilson@example.com', 'Chicago');

In [0]:
select * from Order_Details

In [0]:
CREATE TABLE Orders (
    OrderID INT PRIMARY KEY,
    CustomerID INT,
    OrderDate DATE,
    TotalAmount DECIMAL(10, 2),
    FOREIGN KEY (CustomerID) REFERENCES Customer(CustomerID)
);

INSERT INTO Orders (OrderID, CustomerID, OrderDate, TotalAmount) VALUES
(101, 1, '2023-07-01', 250.50),
(102, 2, '2023-07-03', 180.00),
(103, 1, '2023-07-04', 75.99),
(104, 3, '2023-07-05', 320.00),
(105, 4, '2023-07-06', 150.00),
(106, 1, '2023-07-07', 90.00),
(107, 3, '2023-07-08', 420.00);

In [0]:
CREATE TABLE Order_Details (
    OrderDetailID INT PRIMARY KEY,
    OrderID INT,
    ProductName VARCHAR(100),
    Quantity INT,
    Price DECIMAL(10, 2),
    FOREIGN KEY (OrderID) REFERENCES Orders(OrderID)
);

INSERT INTO Order_Details (OrderDetailID, OrderID, ProductName, Quantity, Price) VALUES
(1, 101, 'Laptop', 1, 250.50),
(2, 102, 'Mouse', 2, 30.00),
(3, 102, 'Keyboard', 1, 120.00),
(4, 103, 'USB Cable', 3, 25.33),
(5, 104, 'Monitor', 2, 160.00),
(6, 105, 'Webcam', 1, 150.00),
(7, 106, 'Notebook', 2, 45.00),
(8, 107, 'Tablet', 1, 420.00);

List customers who have placed at least one order with an amount greater than ₹200.

In [0]:
select distinct CustomerID,FirstName
from customer 
where
CustomerID IN(select CustomerID from orders where TotalAmount > 200)

Show all orders placed by customers who live in New York.

In [0]:
select  *
from orders 
where CustomerID IN (select CustomerID from customer where City = 'New York')

In [0]:
--select *from customer where City='New York';
select *from orders;
--select *from Order_Details;

Get the customer(s) who placed the most expensive order.

In [0]:
select 
concat(FirstName,' ',lastName) as Name,od.ProductName
 from customer c join orders o on c.CustomerID = o.CustomerID join order_details od on o.OrderID = od.OrderID where od.Price = (select max(Price) from Order_Details)

For each order, display the order ID and indicate if its amount is above the customer’s average order amount.

In [0]:
select 
OrderID
 from orders where TotalAmount = (select avg(TotalAmount) from orders where )