ROW_NUMBER()

List all orders with a row number assigned for each customer's orders, ordered by order date.
→ Helps identify the first, second, third orders etc.

In [0]:
--Select * from orders

select OrderID, CustomerID, OrderDate, TotalAmount, row_number() over (--Partition by OrderDate 
order by OrderDate) as rn from orders

In [0]:
SELECT 
    o.OrderID,
    o.CustomerID,
    c.FirstName || ' ' || c.LastName AS customer_name,
    o.OrderDate,
    o.TotalAmount,
    ROW_NUMBER() OVER (
        PARTITION BY o.CustomerID 
        ORDER BY o.OrderDate
    ) AS order_rank
FROM 
    Orders o
JOIN 
    customer c ON o.CustomerID = c.CustomerID
ORDER BY 
    o.CustomerID, order_rank;

Retrieve the most recent order for each customer.
→ Use ROW_NUMBER() and filter for row = 1 using a subquery or CTE.

In [0]:
with Recent_Order as (
SELECT 
    o.OrderID,
    o.CustomerID,
    c.FirstName || ' ' || c.LastName AS customer_name,
    o.OrderDate,
    o.TotalAmount,
    ROW_NUMBER() OVER (
        PARTITION BY o.CustomerID 
        ORDER BY o.OrderDate ) as rn
        from orders o
join customer c on o.CustomerID = c.CustomerID)
select * from Recent_Order where rn = 1

RANK()

Rank customers based on their total spending (highest to lowest).
→ Multiple customers with same total get the same rank (with gaps).

In [0]:
select c.CustomerID,c.FirstName, o.TotalAmount,
RANK() over(--partition by c.CustomerID 
order by o.TotalAmount desc) as Price
from 
customer c join workspace.default.orders o on c.CustomerID = o.CustomerID

# New Example

table creaion

In [0]:
CREATE TABLE Employee_Sales (
    sale_id INT PRIMARY KEY,
    employee_name VARCHAR(50),
    department VARCHAR(50),
    sale_amount INT,
    sale_date DATE
);

Inserting records in table

In [0]:
INSERT INTO Employee_Sales (sale_id, employee_name, department, sale_amount, sale_date) VALUES
(1, 'Alice', 'Electronics', 500, '2024-06-01'),
(2, 'Bob', 'Electronics', 700, '2024-06-02'),
(3, 'Alice', 'Electronics', 400, '2024-06-05'),
(4, 'Charlie', 'Clothing', 300, '2024-06-03'),
(5, 'Alice', 'Electronics', 800, '2024-06-07'),
(6, 'Bob', 'Electronics', 650, '2024-06-08'),
(7, 'Diana', 'Clothing', 200, '2024-06-02'),
(8, 'Charlie', 'Clothing', 350, '2024-06-06'),
(9, 'Diana', 'Clothing', 450, '2024-06-08');
(10, 'Heera Thakur', 'Clothing', 450, '2024-06-09');

In [0]:
INSERT INTO Employee_Sales (sale_id, employee_name, department, sale_amount, sale_date) VALUES(10, 'Heera Thakur', 'Clothing', 450, '2024-06-09');

In [0]:
select * from employee_sales

🔢 ROW_NUMBER Questions

List each employee's sales with a row number ordered by sale date.
→ Helps identify the first, second, third sales, etc.

In [0]:
select *,
row_number() over (partition by employee_name 
order by sale_date) as rn
from 
employee_sales

Find the most recent sale for each employee.
→ Use ROW_NUMBER() to pick only the latest one.

In [0]:
with sales As(
select *,
row_number() over (partition by employee_name 
order by sale_date desc) as rn
from 
employee_sales)

select * from sales where rn = 1

Get the top 2 sales per employee based on sale amount.

In [0]:
with sales As(
select *,
row_number() over (partition by employee_name 
order by sale_amount desc) as rn
from 
employee_sales)

select * from sales where rn <= 2

## 🏅 RANK & DENSE_RANK Questions

Rank employees within each department based on sale amount (descending).
→ Helps to find the top performers.

In [0]:
with sales As(
select *,
rank() over (partition by department 
order by sale_amount desc) as rn
from 
employee_sales)

select * from sales where rn = 1

Identify employees with the same rank for same sale amount using DENSE_RANK().

In [0]:
SELECT *,
       DENSE_RANK() OVER (PARTITION BY department ORDER BY sale_amount DESC) AS sale_rank
FROM Employee_Sales;