SQL

In [0]:
%sql
CREATE TABLE Employee (
    EmployeeID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    Department VARCHAR(50),
    Salary DECIMAL(10, 2),
    JoinDate DATE
);

In [0]:
INSERT INTO Employee (EmployeeID, FirstName, LastName, Department, Salary, JoinDate) VALUES
(1, 'John', 'Doe', 'IT', 60000.00, '2022-01-15'),
(2, 'Jane', 'Smith', 'HR', 55000.00, '2022-02-20'),
(3, 'Robert', 'Brown', 'Finance', 67000.00, '2022-03-01'),
(4, 'Emily', 'Davis', 'IT', 62000.00, '2022-03-12'),
(5, 'Michael', 'Wilson', 'Marketing', 58000.00, '2022-04-05'),
(6, 'Jessica', 'Miller', 'Sales', 54000.00, '2022-04-20'),
(7, 'Daniel', 'Moore', 'Finance', 69000.00, '2022-05-02'),
(8, 'Ashley', 'Taylor', 'IT', 64000.00, '2022-05-18'),
(9, 'David', 'Anderson', 'HR', 56000.00, '2022-06-10'),
(10, 'Sarah', 'Thomas', 'IT', 61000.00, '2022-06-25'),
(11, 'Brian', 'Jackson', 'Marketing', 57000.00, '2022-07-03'),
(12, 'Amy', 'White', 'Sales', 53000.00, '2022-07-14'),
(13, 'Justin', 'Harris', 'Finance', 66000.00, '2022-08-01'),
(14, 'Laura', 'Martin', 'HR', 55000.00, '2022-08-22'),
(15, 'Steven', 'Thompson', 'IT', 63000.00, '2022-09-10'),
(16, 'Anna', 'Garcia', 'Marketing', 59000.00, '2022-09-28'),
(17, 'Chris', 'Martinez', 'Sales', 56000.00, '2022-10-15'),
(18, 'Katie', 'Robinson', 'Finance', 68000.00, '2022-10-29'),
(19, 'Kevin', 'Clark', 'IT', 61000.00, '2022-11-07'),
(20, 'Megan', 'Rodriguez', 'HR', 54000.00, '2022-11-20'),
(21, 'Jason', 'Lewis', 'IT', 64000.00, '2022-12-01'),
(22, 'Rachel', 'Lee', 'Marketing', 60000.00, '2022-12-12'),
(23, 'Brandon', 'Walker', 'Sales', 52000.00, '2023-01-03'),
(24, 'Stephanie', 'Hall', 'Finance', 67000.00, '2023-01-14'),
(25, 'Eric', 'Allen', 'HR', 56000.00, '2023-01-27'),
(26, 'Tina', 'Young', 'IT', 62000.00, '2023-02-10'),
(27, 'Zach', 'King', 'Marketing', 58000.00, '2023-02-21'),
(28, 'Angela', 'Wright', 'Sales', 55000.00, '2023-03-05'),
(29, 'Josh', 'Scott', 'Finance', 69000.00, '2023-03-18'),
(30, 'Brittany', 'Torres', 'HR', 54000.00, '2023-04-02'),
(31, 'Ryan', 'Nguyen', 'IT', 61000.00, '2023-04-15'),
(32, 'Olivia', 'Hill', 'Marketing', 60000.00, '2023-04-28'),
(33, 'Gary', 'Green', 'Sales', 53000.00, '2023-05-10'),
(34, 'Natalie', 'Adams', 'Finance', 66000.00, '2023-05-23'),
(35, 'Tyler', 'Baker', 'HR', 57000.00, '2023-06-03'),
(36, 'Kim', 'Nelson', 'IT', 64000.00, '2023-06-17'),
(37, 'Logan', 'Carter', 'Marketing', 58000.00, '2023-06-30'),
(38, 'Vanessa', 'Mitchell', 'Sales', 52000.00, '2023-07-12'),
(39, 'Sean', 'Perez', 'Finance', 70000.00, '2023-07-24'),
(40, 'Allison', 'Roberts', 'HR', 55000.00, '2023-08-06'),
(41, 'Nathan', 'Turner', 'IT', 62000.00, '2023-08-19'),
(42, 'Sophia', 'Phillips', 'Marketing', 60000.00, '2023-09-01'),
(43, 'Aaron', 'Campbell', 'Sales', 56000.00, '2023-09-14'),
(44, 'Jasmine', 'Parker', 'Finance', 68000.00, '2023-09-27'),
(45, 'Adam', 'Evans', 'HR', 54000.00, '2023-10-09'),
(46, 'Lauren', 'Edwards', 'IT', 63000.00, '2023-10-23'),
(47, 'Ethan', 'Collins', 'Marketing', 59000.00, '2023-11-05'),
(48, 'Samantha', 'Stewart', 'Sales', 53000.00, '2023-11-18'),
(49, 'Blake', 'Sanchez', 'Finance', 66000.00, '2023-12-01'),
(50, 'Chloe', 'Morris', 'HR', 56000.00, '2023-12-15');

In [0]:
Select * from Employee

In [0]:
Select * from Employee where Department='IT'

In [0]:
Select * from Employee where Department = 'IT' order by Salary desc

In [0]:
Select * from Employee where Department = 'IT' order by Salary desc, FirstName limit 1 offset 1

In [0]:
select distinct(Department) from employee

In [0]:
select department, SUM(Salary) AS total_Salary from employee group by Department

In [0]:
select department, SUM(Salary) AS total_Salary from employee group by Department having sum(Salary) > 500000