**JOINS**

In [0]:
--Table Customer
CREATE TABLE Customer (
    CustomerID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    Email VARCHAR(100),
    City VARCHAR(50)
);

In [0]:
INSERT INTO Customer (CustomerID, FirstName, LastName, Email, City) VALUES
(1, 'John', 'Doe', 'john.doe@example.com', 'New York'),
(2, 'Jane', 'Smith', 'jane.smith@example.com', 'Los Angeles'),
(3, 'Robert', 'Brown', 'robert.brown@example.com', 'Chicago'),
(4, 'Emily', 'Davis', 'emily.davis@example.com', 'Houston'),
(5, 'Michael', 'Wilson', 'michael.wilson@example.com', 'Phoenix');

In [0]:
--INSERT INTO Customer (CustomerID, FirstName, LastName, Email, City) VALUES
--(2, 'Ron', 'Doe', 'ron.doe@example.com', 'New York')
select * from customer
--SHOW CREATE TABLE Customer;
--UPDATE Customer
--SET CustomerID = 6
--WHERE CustomerID = 2 and FirstName = 'Ron';

In [0]:
--Orders Table
CREATE TABLE Orders (
    OrderID INT PRIMARY KEY,
    CustomerID INT,
    OrderDate DATE,
    TotalAmount DECIMAL(10, 2),
    FOREIGN KEY (CustomerID) REFERENCES Customer(CustomerID)
);

In [0]:
INSERT INTO Orders (OrderID, CustomerID, OrderDate, TotalAmount) VALUES
(101, 1, '2023-07-01', 250.50),
(102, 2, '2023-07-03', 180.00),
(103, 1, '2023-07-04', 75.99),
(104, 3, '2023-07-05', 320.00),
(105, 4, '2023-07-06', 150.00);

In [0]:
CREATE TABLE Order_Details (
    OrderDetailID INT PRIMARY KEY,
    OrderID INT,
    ProductName VARCHAR(100),
    Quantity INT,
    Price DECIMAL(10, 2),
    FOREIGN KEY (OrderID) REFERENCES Orders(OrderID)
);

In [0]:
INSERT INTO Order_Details (OrderDetailID, OrderID, ProductName, Quantity, Price) VALUES
(1, 101, 'Laptop', 1, 250.50),
(2, 102, 'Mouse', 2, 30.00),
(3, 102, 'Keyboard', 1, 120.00),
(4, 103, 'USB Cable', 3, 25.33),
(5, 104, 'Monitor', 2, 160.00),
(6, 105, 'Webcam', 1, 150.00);

ðŸ”¹ 1. INNER JOIN â€“ List customers with their orders

In [0]:
select 
c.CustomerID,c.FirstName,c.LastName,o.OrderID,o.OrderDate,o.TotalAmount
 from Customer c INNER JOIN Orders o ON c.CustomerID = o.CustomerID

 LEFT JOIN â€“ Customers without orders

In [0]:
select
c.CustomerID,
c.FirstName,
c.LastName,
o.OrderID
from customer c left join orders o on c.CustomerID = o.CustomerID

RIGHT JOIN â€“ Orders without matching customers

In [0]:
select
o.OrderID,
o.OrderDate,
o.TotalAmount,
c.CustomerID,
c.FirstName,
c.LastName

from orders o right join customer c on o.CustomerID = c.CustomerID

FULL OUTER JOIN â€“ All customers and all orders

In [0]:
select
c.CustomerID,
c.FirstName,
c.LastName,
c.Email,
o.OrderID,
o.OrderDate,
o.TotalAmount
 from customer c full outer join orders o on c.CustomerID = o.CustomerID

INNER JOIN with WHERE â€“ Orders above a certain amount
-- Question: Get customer names and order IDs where the total order amount is greater than â‚¹200.

In [0]:
select 
c.FirstName,
c.LastName,
o.OrderID,
o.TotalAmount
 from customer c inner join orders o on c.CustomerID = o.CustomerID where o.TotalAmount > 200

JOIN with GROUP BY â€“ Total orders per customer
-- Question: Show each customer's full name and the total number of orders they placed.

In [0]:
SELECT 
    c.CustomerID,
    CONCAT(c.FirstName, ' ', c.LastName) AS FullName,
    COUNT(o.OrderID) AS TotalOrders
FROM 
    Customer c
LEFT JOIN 
    Orders o ON c.CustomerID = o.CustomerID
GROUP BY 
    c.CustomerID, c.FirstName, c.LastName;

JOIN across 3 tables â€“ Customer and their order items

-- Question: List each customer's name, product name, and quantity they purchased.

In [0]:
select
concat(c.FirstName,' ',c.lastName),
od.ProductName,
od.Quantity
 from customer c inner join orders o on c.CustomerID = o.CustomerID inner join order_details od on o.OrderID = od.OrderID

SELF JOIN â€“ Customers in the same city
-- Question: Find pairs of customers who live in the same city (but are not the same person).

In [0]:
SELECT 
    c1.CustomerID AS Customer1_ID,
    CONCAT(c1.FirstName, ' ', c1.LastName) AS Customer1_Name,
    c2.CustomerID AS Customer2_ID,
    CONCAT(c2.FirstName, ' ', c2.LastName) AS Customer2_Name,
    c1.City
FROM 
    Customer c1
JOIN 
    Customer c2 ON c1.City = c2.City AND c1.CustomerID < c2.CustomerID;

DISTINCT with JOIN â€“ Unique products per customer
-- Question: Show each customer's name and the distinct product names they've purchased.

In [0]:
select
concat(c.FirstName,' ',c.lastName) AS Name,
 od.ProductName

from customer c  join orders o on c.CustomerID = o.CustomerID  join order_details od on o.OrderID = od.OrderID

HAVING with JOIN â€“ Customers with more than 1 order,
Question: Show customer names who have placed more than 1 order.

In [0]:
select
concat(c.FirstName,' ',c.lastName) AS Name,
count(od.OrderID)
from customer c  join orders o on c.CustomerID = o.CustomerID  join order_details od on o.OrderID = od.OrderID group by c.CustomerID, c.FirstName, c.LastName having count(od.OrderID) > 1